configuration {
    modes: [drun];
    location: 0;
    font: "Terminess Nerd Font Propo 12";
    drun-display-format: "{icon} {name}";
    display-drun: "Apps: ";
    display-run: "Run: ";
    display-filebrowser: "File: ";
}
//
@theme "theme"
